<h1>
    Codeial /<%=title%>
</h1>
<section id="feed-post">

    <h3>Posts</h3>

    <form action="/posts/create" id="new-post-feed" method="POST">

        <textarea name="content" id="post-content" cols="20" rows="5" placeholder="Type here..."></textarea>

        <input type="submit" value="Post">


    </form>


</section>