#home-container{
    display: flex;

    #feed-posts{
        width: 70%;
        padding-left: 10px;
    }

    #user-friends{
        width: 30%;
        padding-left: 10px;
        border-left: 2px solid black;
        height: 90vh;

    }
}